body{
	background-color: #E5E5E5;
}

.content{
	width: 1500px;
}

.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8,.block9,.block10 {
	width: 512px;
	height: 512px;
	margin: 50px;
	box-sizing: border-box;
	background-color: white;

}

.block1{

	background: url(../img/blue1.png) no-repeat,  #FFCE22;
}

.wave{
padding: 145px 52px;
}


.circle{
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background: url(../img/Blue2.png) no-repeat, #FFCE22;
	margin: 34px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
	display: flex;
	justify-content: center;
}

.wave2{
	padding: 210px 39px 18px 40px;
}

.block3{
	background: url(../img/Blue3.png) no-repeat, #FFCE22;
}

.circle2{
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background: url(../img/Blue4.png) no-repeat, #FFCE22;
}

.block4, .block6, .block8, .block10{
	padding: 34px;
}

.block5{
	background: url(../img/Vector3.png) 55px 220px no-repeat, url(../img/Vector1.png) 33px 99px no-repeat, url(../img/Vector.png) 0 59px no-repeat, url(../img/Blue3.png) no-repeat, #FFCE22;
}

.circle3{
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background: url(../img/Vector33.png) 128px 193px no-repeat, url(../img/Vector22.png) center no-repeat, url(../img/Vector11r.png) center no-repeat, url(../img/Blue4.png) no-repeat, #FFCE22;
}

.block7{
	background: url(../img/nose1.png) 336px 136px no-repeat, url(../img/nose.png) 335px 127px no-repeat, url(../img/rau4.png) 304px 135px no-repeat, url(../img/rau3.png) 349px 135px no-repeat, url(../img/rau1.png) 343px 131px no-repeat, url(../img/rau-2.png) 306px 131px no-repeat, url(../img/Rau.png) 173px 131px no-repeat, url(../img/plane.png) bottom right no-repeat, url(../img/Blue3.png) no-repeat, #FFCE22;
}

.circle4{
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background: url(../img/Plane2.png) center no-repeat, url(../img/Blue4.png) no-repeat, #FFCE22;
}

.block9{
	background: url(../img/dia.png) 93px 158px no-repeat, url(../img/Blue3.png) no-repeat, #FFCE22;
}

.circle5{
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background: url(../img/dia.png) 65px 124px no-repeat, url(../img/Blue4.png) no-repeat, #FFCE22;
}

.block11, .block12,.block13{
	width: 512px;
	height: 512px;
	margin: 50px;
	box-sizing: border-box;
}

.block11{
	background:url(../img/Flag.png) 23px 21px no-repeat, url(../img/dia.png) center no-repeat, black;
}

.block12{
	background: url(../img/Flag.png) 27px 21px no-repeat, url(../img/Flag.png) 411px 27px no-repeat, url(../img/dia.png) center no-repeat, black;
}

.block13{
	background: url(../img/Flag.png) 212px 375px no-repeat, url(../img/dia.png) center no-repeat, black;
	margin: 0 auto;
}

.box7{

}
